build/
cmake-build-*/
*.o
*.dylib
*.so
*.a

client/incoming/*
client/outgoing/*
client/private/*
server/incoming/*
server/outgoing/*
server/db/*.sqlite
server/db/*.sqlite-*
logs/*

!client/incoming/.gitkeep
!client/outgoing/.gitkeep
!client/private/.gitkeep
!server/incoming/.gitkeep
!server/outgoing/.gitkeep
!server/db/.gitkeep
!logs/.gitkeep

__pycache__/
.DS_Store
